# Ignore everything.
**

# Allow runtime benchmarking binary.
!target/release/test-runtime-benchmarking

# Allow downloaded oasis-core binaries.
!tests/untracked/

# Allow benchmarks suite.
!tests/benchmark/
