[package]
name = "oasis-runtime-sdk"
version = "0.1.0"
authors = ["Oasis Protocol Foundation <info@oasisprotocol.org>"]
edition = "2018"
license = "Apache-2.0"

[dependencies]
oasis-core-runtime = { git = "https://github.com/oasisprotocol/oasis-core", tag = "v21.2.5" }
oasis-runtime-sdk-macros = { path = "../runtime-sdk-macros", optional = true }

# Third party.
serde = { version = "1.0.126", features = ["derive"] }
serde_bytes = "0.11.5"
curve25519-dalek = "3.0.0"
sha2 = "0.9.3"
k256 = { version = "0.9.4" }
thiserror = "1.0.25"
hex = "0.4.2"
io-context = "0.2.0"
anyhow = "1.0.41"
bech32 = "0.8.1"
num-traits = "0.2.14"
impl-trait-for-tuples = "0.2.1"
base64 = "0.13.0"
once_cell = "1.8.0"
slog = "2.7.0"

[features]
default = ["oasis-runtime-sdk-macros"]
