[package]
name = "oasis-runtime-sdk-evm"
description = "EVM module for the Oasis Runtime SDK."
version = "0.1.0"
authors = ["Oasis Protocol Foundation <info@oasisprotocol.org>"]
edition = "2018"
license = "Apache-2.0"

[dependencies]
cbor = { version = "0.2.1", package = "oasis-cbor" }
oasis-runtime-sdk = { path = "../.." }

# Third party.
anyhow = "1.0"
blake3 = { version = "1.2.0", features = ["traits-preview"] }
thiserror = "1.0"
hex = "0.4.2"
sha2 = "0.9.5"
ripemd160 = { version = "0.9", default-features = false }
k256 = { version = "0.9.6", default-features = false, features = ["keccak256", "ecdsa"] }
sha3 = { version = "0.10", default-features = false }
num = { version = "0.4", features = ["alloc"], default-features = false }
once_cell = "1.8.0"

# Ethereum.
ethereum = "0.10.0"
evm = "0.33.0"
fixed-hash = "0.7.0"
primitive-types = { version = "0.10.1", default-features = false, features = ["rlp", "num-traits"] }
rlp = "0.5.1"
uint = "0.9.1"

