# NOTE: This name appears in GitHub's Checks API and in workflow's status badge.
name: ci-lint

# Trigger the workflow when:
on:
  # A push occurs to one of the matched branches.
  push:
    branches:
      - main
      - stable/*
  # Or when a pull request event occurs for a pull request against one of the
  # matched branches.
  pull_request:
    branches:
      - main
      - stable/*

jobs:

  lint-rust:
    # NOTE: This name appears in GitHub's Checks API.
    name: lint-rust
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          components: rustfmt, clippy

      - name: Clippy check
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features --locked -- -D warnings -D clippy::dbg_macro

      - name: Formatting check
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: -- --check

  lint-go-client-sdk:
    name: lint-go-client-sdk
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Lint Go client-sdk
        uses: golangci/golangci-lint-action@v2
        with:
          # NOTE: The version must be specified without the patch version.
          version: v1.40
          working-directory: client-sdk/go

  lint-go-tests-e2e:
    name: lint-go-tests-e2e
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install libseccomp-dev
        run: |
          sudo apt-get update
          sudo apt-get install libseccomp-dev

      - name: Lint E2E tests
        uses: golangci/golangci-lint-action@v2
        with:
          # NOTE: The version must be specified without the patch version.
          version: v1.40
          working-directory: tests/e2e

  lint-ts-web:
    name: lint-ts-web
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js LTS
        uses: actions/setup-node@v2.1.4
        with:
          node-version: "14.x"

      - name: Install Node deps
        working-directory: client-sdk/ts-web
        run: npm ci

      - name: Lint ts-web
        working-directory: client-sdk/ts-web
        run: npm run-script lint
