# NOTE: This name appears in GitHub's Checks API and in workflow's status badge.
name: ci-test

# Trigger the workflow when:
on:
  # A push occurs to one of the matched branches.
  push:
    branches:
      - main
      - stable/*
  # Or when a pull request event occurs for a pull request against one of the
  # matched branches.
  pull_request:
    branches:
      - main
      - stable/*

jobs:

  lint:
    # NOTE: This name appears in GitHub's Checks API.
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Rust
        uses: actions-rs/toolchain@v1

      - name: Unit tests with coverage
        uses: actions-rs/tarpaulin@v0.1
        with:
          version: '0.16.0'
          args: '-- --test-threads 1'
        env:
          # Required as tarpaulin doesn't honor .cargo/config.
          RUSTFLAGS: -C target-feature=+aes,+ssse3

      - name: Upload to codecov.io
        uses: codecov/codecov-action@v1.2.1

      - name: Archive code coverage results
        uses: actions/upload-artifact@v1
        with:
          name: code-coverage-report
          path: cobertura.xml

  build-ts-web:
    # NOTE: This name appears in GitHub's Checks API.
    name: build-ts-web
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js LTS
        uses: actions/setup-node@v2.1.4
        with:
          node-version: "14.x"

      - name: Set up npm
        run: npm install npm@7 -g

      - name: Install Node deps
        working-directory: client-sdk/ts-web
        run: npm ci

      - name: Prepare ts-web/core
        working-directory: client-sdk/ts-web/core
        run: npm run-script prepare

      - name: Pack ts-web/core
        working-directory: client-sdk/ts-web/core
        run: npm pack

      - name: Upload ts-web/core
        uses: actions/upload-artifact@v2
        with:
          name: ts-web/core
          path: client-sdk/ts-web/core/*.tgz

      - name: Check ts-web/core playground
        working-directory: client-sdk/ts-web/core
        run: npm run-script check-playground

      - name: Prepare ts-web/signer-ledger
        working-directory: client-sdk/ts-web/signer-ledger
        run: npm run-script prepare

      - name: Pack ts-web/signer-ledger
        working-directory: client-sdk/ts-web/signer-ledger
        run: npm pack

      - name: Upload ts-web/signer-ledger
        uses: actions/upload-artifact@v2
        with:
          name: ts-web/signer-ledger
          path: client-sdk/ts-web/signer-ledger/*.tgz

      - name: Check ts-web/signer-ledger playground
        working-directory: client-sdk/ts-web/signer-ledger
        run: npm run-script check-playground

      - name: Prepare ts-web/rt
        working-directory: client-sdk/ts-web/rt
        run: npm run-script prepare

      - name: Pack ts-web/rt
        working-directory: client-sdk/ts-web/rt
        run: npm pack

      - name: Upload ts-web/rt
        uses: actions/upload-artifact@v2
        with:
          name: ts-web/rt
          path: client-sdk/ts-web/rt/*.tgz

      - name: Check ts-web/rt playground
        working-directory: client-sdk/ts-web/rt
        run: npm run-script check-playground

  e2e-ts-web-core:
    # NOTE: This name appears in GitHub's Checks API.
    name: e2e-ts-web-core
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js LTS
        uses: actions/setup-node@v2.1.4
        with:
          node-version: "14.x"

      - name: Set up npm
        run: npm install npm@7 -g

      - name: Install Node deps
        working-directory: client-sdk/ts-web
        run: npm ci

      - name: Prepare ts-web/core
        working-directory: client-sdk/ts-web/core
        run: npm run-script prepare

      - name: 'dev-server: Start'
        working-directory: client-sdk/ts-web/core
        run: npm run-script playground &

      - name: 'proxy: Install Envoy'
        # https://www.getenvoy.io/install/envoy/ubuntu/
        run: |
          curl -sL 'https://getenvoy.io/gpg' | sudo apt-key add -
          sudo add-apt-repository "deb [arch=amd64] https://dl.bintray.com/tetrate/getenvoy-deb $(lsb_release -cs) stable"
          sudo apt-get update && sudo apt-get install -y getenvoy-envoy

      - name: 'proxy: Start'
        working-directory: client-sdk/ts-web/core/playground
        run: ./sample-run-envoy.sh &

      - name: 'testnet: Download artifacts'
        working-directory: client-sdk/ts-web/core/playground
        run: ./download-artifacts.sh

      - name: 'testnet: Start'
        working-directory: client-sdk/ts-web/core/playground
        run: ./sample-run-network.sh &

      - name: 'testnet: Wait for node socket'
        run: |
          while [ ! -e /tmp/oasis-net-runner-sdk-core/net-runner/network/validator-0/internal.sock ]; do
            sleep 1
          done

      - name: Cypress run
        working-directory: client-sdk/ts-web/core
        run: npx -c 'cypress run'

  e2e-ts-web-rt:
    # NOTE: This name appears in GitHub's Checks API.
    name: e2e-ts-web-rt
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js LTS
        uses: actions/setup-node@v2.1.4
        with:
          node-version: "14.x"

      - name: Set up npm
        run: npm install npm@7 -g

      - name: Install Node deps
        working-directory: client-sdk/ts-web
        run: npm ci

      - name: Prepare ts-web/core
        working-directory: client-sdk/ts-web/core
        run: npm run-script prepare

      - name: Prepare ts-web/rt
        working-directory: client-sdk/ts-web/rt
        run: npm run-script prepare

      - name: 'dev-server: Start'
        working-directory: client-sdk/ts-web/rt
        run: npm run-script playground &

      - name: Cypress run
        working-directory: client-sdk/ts-web/rt
        run: npx -c 'cypress run'
